body {
  margin: 0px auto;
  text-align: center;  
}

canvas {
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
}

#cam-container {
  max-width: 600px;
}

#webcam-stream {
  display: none;
}

.content div {
  display: inline-block;
}

#save-page .ui-dialog-contain {
  max-width: 210px;
}

#messages-area {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 30px;  
}

#messages-area #notification {
  
}

#messages-area #info-color {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color: #5E87B0;
  border: 1px solid #5E87B0;
}

#color-rgb {
  font-size: 30px;
  color: #5E87B0;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;  
  border: 1px solid #4F8A10;
}

#list-colors li {
  font-size: 20px;
  font-weight: normal;  
}

.color-name {
  position: relative;
  top: -2px;
}

.remove-color {
  position: relative;
  top: 3px;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 20px;
  background: url('../images/delete.png') no-repeat!important;
}

@media screen and (max-width: 360px) {
  #messages-area {
    font-size: 20px;
  }
}